
.mett{position: relative;
    padding: 140px 0;
      background: url("/images/mett-bg1.svg");
     
      background-repeat: no-repeat;
     
      background-size: 200px 200px;
   
      background-position-x:calc(50% - 650px) ;
    
       
    //   background: url("/images/mett-bg2.svg");
    //   background-repeat: no-repeat;  
    //   background-size: 140px 100px;
    //   background-position-x:calc(50% + 650px) ;
          
        
      
    }
  

.mett__title{
padding: 140px 0 64px;
padding: 0;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */

text-align: center;

color: #FFFFFF;
}

.mett__list{
margin: 0;
padding: 0;
list-style: none;
display: flex;
align-items: center;
column-gap: 30px;
row-gap: 76px;
flex-wrap: wrap;
}
.mett__list::after{
    content: '';
    position: absolute;
         
          background: url("/images/mett-bg2.svg");
          background-repeat: no-repeat;
          background-size: 140px 100px;
        //   background-position-x:calc(50% + 250px) ;
          width: 140px;
          height: 100px;
          bottom: 10px;
          right: 0;

}
.mett__item{
    position: relative;
width: 100%;
max-width: 350px;
background: #012F34;
text-align: center;
}
.mett__img{
margin: 32px 0;
}
.mett__titles{
    margin: 0;
    padding: 0;
    font-weight: 700;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

text-align: center;

color: #79C8C7;
}
.mett__text{
    margin: 0;
    padding: 0;
    padding-bottom: 56px;
    font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */

text-align: center;

color: #FFFFFF;

}
.mett__span{
    position: absolute;
    display:block;
    line-height: 15px;
    // width: 100%;
    // max-width: 50px;
    padding: 20px 20px;
    background: #F67E7E;
    border-radius: 50%;
    font-size: 25px;
    bottom: -25px;
    left: 145px;
   
}
.mett__span:hover{
background: #79C8C7;
}

.mett__content{
width: 100%;
max-width: 255px;
margin: 0 auto;

padding: 35px 0;
}
.mett__imgss{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 25px;
}
.mett_link{
    margin-right: 16px;
}
.mett_link:hover{
background: #F67E7E;
}
.mett__spani{
    position: absolute;
    display:inline-block;
    line-height: 15px;
    padding: 20px 20px;
    background: #79C8C7;
    border-radius: 50%;
    font-size: 25px;
    bottom: -25px;
    left: 145px;   
}
.mett__spani:hover{
    background:  #F67E7E;
    }
    
@media only screen and (max-width: 768px) {
    .mett__list{
     display: grid;
     grid-template-columns: repeat(2,327px );
    // margin-left:200px;
// flex-direction: column;

    }
    .mett__item{
        max-width: 327px;
    }
    .container{
        max-width: 768px;
    }
}
@media only screen and (max-width: 568px) {
    .mett{
        padding: 140px 0;
          background: url("/images/mett-bg1.svg");
          background-repeat: no-repeat;
          background-size: 200px 200px;
          background-position: top -60px left -60px;
          
        }
    .mett__list{
   display: flex;
   flex-direction: column;
   margin: 0;
   
       }
       .container{
        max-width: 568px;
    }
    .mett__span{
        left: 120px;
    }
    .mett__spani{
        left: 120px;
    }
}







