.some{
// position: relative;  background: url("/images/some-bg.svg");
// background-repeat: no-repeat;
// background-size: 200px 200px;
// background-position: top 0 left 0;
background: #012F34;

}
.some__inner{
    padding: 130px 0;
}
.some::before{
    position: absolute;
   content: '';
   width: 200px;
   height: 200px;
    background: url("/images/some-bg.svg");
background-repeat: no-repeat;
background-size: 200px 200px;
background-position: top 0 left 0;
}

.some__title{
margin:0 ;
padding: 0;
margin-bottom: 70px;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */

text-align: center;

color: #FFFFFF;

}
.some__list{
    margin:0 ;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.some__item{
    margin:0 ;
    padding: 0;

}
.some__link{

}
.some__img{

}
@media only screen and (max-width: 768px) {
    .container{
  max-width: 768px;
    }
    .some::before{
        background-position: top -100px left 0;
    }
    .some__title{
        font-size: 32px;
        line-height: 32px;
    }
    .some__img1{
      width: 103px;
      height: 17px;
    }
    .some__img2{
        width: 120px;
        height: 13px;
    }
    .some__img3{
        width: 115px;
        height: 17px;
    }
    .some__img4{
        width: 100px;
        height: 17px;
    }
    .some__img5{
        width: 78px;
        height: 35px;
    }
    
}
@media only screen and (max-width: 568px) {
.container{
    max-width: 327px;
}
.some::before{
    background-position: top -100px left -100px;
}

.some__list{
    flex-direction: column;
    justify-content: center;
}
.some__item{
    margin-bottom: 56px;
}
.some__title{
    font-size: 30px;
    line-height: 30px;
}


}