.build {
  padding: 140px 0;
  background-color: #012f34;
  background-image: url("../../images/build-bgi.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 675px) bottom;
}

.build__inner {
  display: flex;
  justify-content: space-between;
}

.build__texts {
  position: relative;
}

.build__line {
  position: absolute;
  display: block;
  background-color: #f67e7e;
}

.build__title-inner {
  width: 100%;
  max-width: 445px;
  margin-right: 125px;
}

.build__title {
  margin: 55px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
}

.build__list {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 540px;
  list-style-type: none;
}

.build__item {
  position: relative;
  width: 100%;
  max-width: 445px;
}

.build__item + .build__item {
  margin-top: 32px;
}

.build__item::before {
  position: absolute;
  top: 0;
  left: -95px;
}

.individuals::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url("../../images/experienced.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.implement::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url("../../images/implement.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.enhanced::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url("../../images/enhanced.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.build__name {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}

.build__text {
  margin: 16px 0 0;
  padding: 0;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

//******************//
//***   TABLET   ***//
//******************//

@media only screen and (max-width: 769px) {
  .build {
    padding: 100px 0;
    background-position: calc(50% + 340px) top;
  }

  .build__inner {
    flex-direction: column;
    padding: 0 30px;
  }

  .build__title-inner {
    margin: 0;
  }

  .build__title {
    font-weight: 700;
    font-size: 32px;
  }

  .build__list {
    margin-top: 64px;
    padding-left: 90px;
  }
}

@media only screen and (max-width: 630px) {
}

//******************//
//***   MOBILE   ***//
//******************//

@media only screen and (max-width: 576px) {
  .build {
    background-position: calc(50% + 210px) top;
  }

  .build__title {
    font-size: 32px;
    line-height: 32px;
  }

  .build__list {
    flex-direction: column;
    margin-top: 144px;
    padding: 0;
  }

  .build__item {
    text-align: center;
  }

  .build__item + .build__item {
    margin-top: 136px;
  }

  .build__item::before {
    position: absolute;
    top: -104px;
    left: 70px;
  }

  .build__name {
    text-align: center;
  }

  .build__text {
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  .build__title {
    font-size: 26px;
    line-height: 26px;
  }
}
